---
type Props = {
  class?: string;
  [key: string]: any;
}

const { class: className = "", ...rest } = Astro.props;
---

<span
  class:list={[
    "inline-block border border-border-default text-text-tertiary font-mono text-xs font-medium leading-none px-3 py-1.5 rounded-full",
    className,
  ]}
  {...rest}
>
  <slot />
</span>
