---
type Props = {
  class?: string;
  "data-delay"?: string;
  [key: string]: any;
}

const { class: className = "", ...rest } = Astro.props;
---

<div
  class:list={[
    "card spotlight-card relative bg-bg-surface border border-border-default rounded-xl p-8 overflow-hidden transition-[border-color,transform,box-shadow] duration-300 ease-out-expo hover:border-border-hover hover:-translate-y-0.5 hover:shadow-[0_8px_24px_rgba(0,0,0,0.2)]",
    className,
  ]}
  {...rest}
>
  <slot />
</div>
