---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TerminalDemo from "../components/TerminalDemo.astro";
import AgentNative from "../components/AgentNative.astro";
import LocalFirst from "../components/LocalFirst.astro";
import CliMobile from "../components/CliMobile.astro";
import SyncArchitecture from "../components/SyncArchitecture.astro";
import DevExperience from "../components/DevExperience.astro";
import InstallCta from "../components/InstallCta.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <TerminalDemo />
    <AgentNative />
    <LocalFirst />
    <CliMobile />
    <SyncArchitecture />
    <DevExperience />
    <InstallCta />
  </main>
  <Footer />
</Layout>
